/* Quiz styles */

header {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font-family:sans-serif;
    font-size: 1em;
    font-style:oblique;
    background-color: #dadadb
}


h1 {
    color:#58a0e0;
}

#content {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
    background-color: aliceblue;
}

#list{
    border: 2px solid #064277;
    border-radius: 20px;
    background-color: aliceblue;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: 50px;
    color:#58a0e0
}

ul{
    margin-left: 50px;
}

p{
    font-family: serif;
    font-style:normal;
}

.samplepara {
    border: 3px solid #58a0e0;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

footer {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
    background-color: aliceblue;
}

#footer {
    font-size: .75em;
    font-style:italic;
    font-weight: bold;
    color: #064277;
    text-align: center;
}


