// SASS VARIABLES
$backgroundcolor: aliceblue;
$basefont: sans-serif;
$margin-left: 50px;
$padding: 10px;


/* Quiz styles */

header {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $padding;
    background-color: $backgroundcolor;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font {
        family: $basefont;
        size: 1em;
        style:oblique;
    }
    background-color: #dadadb
}


h1 {
    color:#58a0e0;
}

#content {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $padding;
    background-color: $backgroundcolor;
}

#list{
    border: 2px solid #064277;
    border-radius: 20px;
    background-color: $backgroundcolor;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $margin-left;
    color:#58a0e0
}

ul{
    margin-left: $margin-left;
}

p{
    font {
        family: $basefont;
        style:normal;
    }
}

.samplepara {
    border: 3px solid #58a0e0;
    border-radius: 5px;
    padding: $padding;
    background-color: white;
}

footer {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $padding;
    background-color: $backgroundcolor;
}

#footer {
    font {
        size: .75em;
        style:italic;
        weight: bold;
    }
    color: #064277;
    text-align: center;
}


